<h1>Hi <%= @user.name %></h1>
<p>Please copy-paste this code back into the app to reset your password:</p>
<h2><%= @token %></h2>

<p style="font-size: small">If this was not you, please get in touch via support@gymgraze.io</p>
